@{
    var X = Html.X();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/CssMain.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>    
    <script type="text/javascript">
        document.onkeydown = function (e) {
            var event = e || window.event;
            var key = event.keyCode || event.which;
            var type, stat;
            if (event.srcElement) {
                type = event.srcElement.type;
                stat = event.srcElement.readOnly;
            } else if (event.target) {
                type = event.target.type;
                stat = event.target.readOnly;
            }
            if (key == 8) {
                if ((type != "text" && stat == true) || (type != "textarea" && stat == true) || (type != "select" && stat == true)) {
                    event.keyCode = 0;
                    event.returnValue = false;
                }
            }
        };
    </script>
    @RenderSection("header", false)
</head>
<body>
    @X.ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
@RenderSection("footer", false)
